<body>
  <header>
    <h1>Seleccione la Ruta</h1>
  </header>
  <main>
    <form action="./selectedpath.html">
      <fieldset>
        <legend>Origen</legend>
        <span>
          <label for="origen">
            <select name="origen" id="origen">
              <optgroup label="Seleccione la oficina de origen">
                <option value="ori">Orizaba</option>
                <option value="ver">Veracruz</option>
                <option value="xal">Xalapa</option>
                <option value="poz">Poza Rica</option>
                <option value="coa">Coatzacoalcos</option>
              </optgroup>
            </select>
          </label>
        </span>
      </fieldset>
      <fieldset>
        <legend>Destino</legend>
        <span>
          <label>
            <input placeholder="Escriba el municipio de destino" aria-label="Escriba el municipio de destino">
          </label>
        </span>
      </fieldset>
      <div>
        <input type="submit" name="choosePathBack" id="" value="Anterior">
        <input type="submit" name="choosePathSubmit" id="" value="Aceptar">
      </div>
    </form>
  </main>
</body>