<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orden de Comisión</title>
    <link rel="stylesheet" href="./css/commissionorder.css">
    <link rel="shortcut icon" href="/icons/favicon.svg" type="image/x-icon">
  </head>


  <body>
    <header>
      <h1>Orden de Comision</h1>
    </header>
    <main>

      <form action="./choosepath.html">
        <fieldset>
          <legend>Datos de Comisión</legend>
          <div>
            <label>
              Seleccione los días
              <input type="number" name="commissionDay" id="">
            </label>
            <label>
              Selecciones la fecha
              <input type="date" name="commissionDate" id="">
            </label>
          </div>
          <div>
            <label>
              Seleccione la hora
              <input type="time" name="commissionHour" id="">
            </label>
            <label>
              Ingrese el objetivo de la comisión
              <textarea name="commissionObjetive" id="" cols="30" rows="4"></textarea>
            </label>
          </div>
        </fieldset>
        <fieldset>
          <legend>Datos del Empleado</legend>
          <div>
            <label>
              Seleccione el nombre del empleado
              <select name="employName" id="">
                <optgroup>Seleccione</optgroup>
                <option value="nEmploy">Ramiro Fuentes</option>
                <option value="nEmploy">Ofelia Díaz</option>
                <option value="nEmploy">Rolando Mejía</option>
                <option value="nEmploy">Cirilo Pacheco</option>
                <option value="nEmploy">Mariana Hernandez</option>
                <option value="nEmploy">Pedro Perez</option>
              </select>
            </label>
          </div>
        </fieldset>
        <div>
          <input type="submit" name="commissionSubmit" id="" value="Aceptar">
        </div>
      </form>
    </main>
  </body>
</html>