<header>
  <h1>Orden de Comision</h1>
</header>

<form action="/viatical/commissionorder" method="POST">

  <fieldset>
    <legend>Datos de Comisión</legend>

    <div>
      <label>
        Ingrese cúantos días de comisión
        <input type="number" name="commissionDay" id="" placeholder="Ingrese días" aria-label="No. Días" required autofocus="autofocus"></label>
      
      <label>
        Seleccione fecha
        <input type="date" name="commissionDate" id="" placeholder="Seleccione fecha" aria-label="Fecha" required></label>
    </div>
    
    <div>
      <label>
        Seleccione hora
        <input type="time" name="commissionHour" id="" placeholder="Seleccione hora" aria-label="Hora" required></label>
      
      <label>
        Ingrese objetivo de comisión
        <textarea name="commissionObjective" id="" rows="5" placeholder="Objetivo" aria-label="Objetivo" required></textarea></label>
    </div>
  </fieldset>

  <fieldset>
    <legend>Datos de Empleado</legend>
      
      <label>
        Seleccione empleado

        <select name="employeeName" id="" required>

          <optgroup label="Seleccione">
            {{#each queryEmployees}}
              <option value="{idEmpleado}">{{nombre}} {{apPaterno}} {{apMaterno}}</option>
            {{/each}}
          </optgroup>
          
        </select></label>

  </fieldset>

    <input type="submit" id="" value="Siguiente">
</form>