<main>
  <form action="" method="POST">
    <label>
      Ingrese No. de comidas
      <input type="number">
    </label>

  <label type="text">
    Ingrese No. de Desayunos/Cenas
    <input type="number">
  </label>

  <input type="submit" value="Agregar Viáticos">
  <input type="submit" value="Finalizar">
  </form>
</main>