<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Sistema Integral de Gestión de Viáticos">
		<meta name="author" content="Procuraduría Estatal de Protección al Medio Ambiente">
		<meta name="key" content="Procuraduría Estatal de Protección al Medio Ambiente, PMA, Sistema Integral de Gestión de Viáticos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Integral de Gestión Viáticos</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
  </head>


  <body>
    <header>
      <h1>Iniciar Sesión</h1>
    </header>

    <form action="/" method="POST">

      <div class="height">
        <label>
          Nombre de usuario
          <input type="text" class="field"></label></div>

      <div class="height">
        <label>
          Ingrese su contraseña
          <input type="password" class="field"></label></div>

      <div class="center-content height">
        <input type="submit" value="Enviar Datos" class="btn btn-green"></div>

    </form>
  </body>
</html>