<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="shortcut icon" href="./icons/favicon.svg" type="image/x-icon">
  </head>

  
  <body>
    <header>
      <h1>Iniciar Sesión</h1>
    </header>
    <form action="./commissionorder.html"">
      <div class="height">
        <label>
          Nombre de usuario
          <input type="text" class="field">
        </label>
      </div>
      <div class="height">
        <label>
          Ingrese su contraseña
          <input type="password" class="field">
        </label>
      </div>
      <div class="center-content height">
        <input type="submit" value="Enviar Datos" class="btn btn-green">
      </div>
    </form>
  </body>
</html>