<form action="/viatical/others" method="POST">
  <label>
    Ingrese el número de días
    <input type="number" id="" placeholder="Ingrese el número de días">
  </label>

  <select name="" id="">
    <optgroup>
      Selecccione puesto del empleado
    </optgroup>
  </select>

  <input type="submit" value="Agregar Viáticos">
  <input type="submit" value="Finalizar">
</form>