<header>
  <h1>Agregar Otros Viáticos</h1>
</header>

<main>
  <ul>
    <li><a href="#">Agregar Comidas</a></li>
    <li><a href="#">Agregar Hospedaje</a></li>
    <li><a href="#">Agregar Gastos Taxi</a></li>
    <li><a href="#">Agregar Otros Gastos</a></li>
  </ul>
</main>