<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otros Viáticos</title>
    <link rel="stylesheet" href="./css/others.css">
    <link rel="shortcut icon" href="/icons/favicon.svg" type="image/x-icon">
  </head>


  <body>
    <header>
      <h1>Agregar Otros Viáticos</h1>
    </header>
    <main>
      <ul>
        <li><a href="#">Agregar Comidas</a></li>
        <li><a href="#">Agregar Hospedaje</a></li>
        <li><a href="#">Agregar Gastos Taxi</a></li>
        <li><a href="#">Agregar Otros Gastos</a></li>
      </ul>
    </main>
  </body>
</html>