<header>
  <h1>Agregar Otros Viáticos</h1>
</header>

<main>
  <ul>
    <li><a href="./foods">Agregar Comidas</a></li>
    <li><a href="./lodging">Agregar Hospedaje</a></li>
    <li><a href="./cab">Agregar Gastos Taxi</a></li>
    <li><a href="#">Agregar Otros Gastos</a></li>
  </ul>
</main>