<header>
  <h1>Datos de la ruta seleccionada</h1>
</header>

<main id="main-container">
  <table>
    <caption>Datos de la Ruta Seleccionada</caption>
    <thead>
      <th>Origen</th>
      <th>Destino</th>
    </thead>
    <tbody>
      <tr>
        <td>Orizaba</td>
        <td>Ixhuatlán del Café</td>
      </tr>
    </tbody>

    <thead>
      <th>Distancia</th>
      <th>Tiempo</th>
    </thead>
    <tbody>
      <tr>
        <td>100 Kms</td>
        <td>1 hora aprox.</td>
      </tr>
    </tbody>
  </table>
</main>

<section>
  Aqui la seccion de gasolina y casetas
</section>

<section>
  <span>
    <button name="selectedPathButtonBack" id="">
      <a href="./choosepath.html">Anterior</a>
    </button>
  </span>
  <span>
    <button name="selectedPathButtonSend" id=""><a href="./others.html">Agregar más Viáticos</a></button>
  </span>
</section>